.container {
    padding: 2rem;
}

.table th, .table td {
    vertical-align: middle;
    text-align: center;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.page-header h1 {
    margin: 0;
}

.btn-actions {
    display: flex;
    gap: 1rem;
}

.table-container {
    margin-top: 1rem;
}

.total-prices {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.total-prices div {
    font-weight: bold;
}
.action-buttons {
    display: flex;
    gap: 0.5rem; 
}

.action-buttons .btn {
    margin-right: 0.5rem; 
}
